.wrapper {
    background-color: #f5f5f5;
    border-radius: 1.375rem;
    padding: 2rem;
    max-width: 990px;
    // min-height: 300px;
    margin: auto;
    margin-bottom: 20px;
}

.info-container {
    // width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 180px;;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;;
}

.format-select {
    width: 150px;
    padding: 8px;
    font-size: 1.2em;
    border-radius: 50px;
    margin-bottom: 15px;;
    
}

.title {
    display: block;
    max-width: -webkit-fill-available;
    font-size: 1.5em;
    color: #009af5;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.setting-btn {
    background: url(https://web.archive.org/web/20220121000318im_/https://www.converto.io/img/gear.png) no-repeat;
    background-size: 32px 32px;
    background-position: center;
    transition: all 0.2s linear;
    width: 32px;
    height: 32px;
    border: none;
}

.setting-btn:hover {
    background: url(https://web.archive.org/web/20220121000318im_/https://www.converto.io/img/gear_2.png) no-repeat;
    background-size: 32px 32px;
    background-position: center;
    transform: rotate(15deg);
    cursor: pointer;
}

.image-container {
    position: relative;;
    width: 300px;

}

.thumbnail {
    width: 100%;
}

.info-order {
    display: flex;
    flex-direction: column;
    justify-content: space-between;;;
    padding: 8px 0;
}

label {
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-weight: bold;
}

.thick-label {
    font-size: 1.5em;
}

.btn {
    padding: 8px;
    font-size: 1.2em;
    border-radius: 50px;
    cursor: pointer;
}

.close {
    display: flex;
    justify-content: end;
}

.cancel {
    border: 2px solid #e93e3e;
    background-color: none;
}

.download {
    margin-left: 5px;
    border: 2px solid #3ddb3d;
    background-color: none;

}

.cancel:hover {
    background-color: #e93e3e;;
}


.download:hover {
    background-color: #3ddb3d;;
}

label > input {
    padding: 8px 12px;
    font-size: 1.2em;;
    height: 30px;
    border-radius: 50px;
    border-width: 0px;
    color: #5f5f5f;;
}

.cover-image {
    height: 80px;
    width: 80px;
    // scale: 1/1;
    object-fit: cover;;
}

.cover-container > img {
    margin: 0px 5px;
    margin-top: 5px;;
}

.selected {
    outline: #009af5;
    outline-offset: 3px;
    outline-width: 2px;
    outline-style: solid;
}