header {
    display: flex;
    padding-inline: 16px;
    padding-block: 8px;
    color: white;
    background-color: #12041a;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 80px;
}

nav {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
