.link-input {
    height: 20px;
    width: -webkit-fill-available;
    border-radius: 0px;
    background: url(https://web.archive.org/web/20211202070338im_/https://www.converto.io/img/play.png) 16px center / 40px 40px no-repeat rgb(255, 255, 255) !important;
    background-position: 5px center !important;
    padding: 18px !important;
    padding-left: 50px !important;
    border-color: rgb(225, 225, 225) !important;
    border-width: 5px !important;
    border-style: solid;

    font-size: 1.2em;
    color: rgb(51, 51, 51);
    margin-right: 10px;
    
}

.submit-btn {
    background-color: white;
    padding: 10px !important;
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
    border-color: rgb(225, 225, 225) !important;
    border-width: 5px !important;
    border-style: solid;

}

.submit-btn:hover {
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

.input-container {
    display: flex;
    justify-content:space-between;
}

.pending-container {
    width: -webkit-fill-available;
    scale: 1/1;
}

.convertor-containre {
    width: 100vw;
}

form {
    width: 100%;
}

.form-container {
    max-width: 990px;
    margin: auto;
}